.section {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;
      a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
      strong {
        color: inherit;
      }
      .title {
        color: $color-invert
      }
      .subtitle {
        color: bulmaRgba($color-invert, 0.9);
        a:not(.button),
        strong {
          color: $color-invert
        }
      }
    }
  }
}