@import 'setup';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Quattrocento&display=swap');
$mdi-font-path: '~@mdi/font/fonts/';

@import '~@mdi/font/scss/materialdesignicons.scss';

@import "~bulma/sass/base/all";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/layout/hero";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/grid/columns";
@import "~buefy/src/scss/utils/all";
@import "~buefy/src/scss/components/icon";

@import 'section-colors';

.debug {
    @import "debug";
}

.anim-under .anim-text {
    position: relative;
    display: inline-block;
    
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }
}

.anim-under {
    &:hover,
    &.is-active {
        .anim-text::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }

    &:focus,
    &.focus-within {
        .anim-text::before {
            visibility: visible;
            transform: scaleX(1);
            transition: none;
        }
    }
}

.has-text-weight-extra-bold {
    font-weight: $weight-extra-bold;
}

.has-navbar-fixed-top {
    padding-top: $navbar-height;
}